body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fresca', sans-serif;
  background: #F9E79F;
}
#root{
  max-width: 1000px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
